﻿@model Web.ViewModels.Account.AddExternalLoginsListViewModel
@using Microsoft.Owin.Security

@if (Model.FilteredProviders.Count() > 0)
{
    <div class="col-sm-12 col-md-6 col-lg-7">
        <h5>Enable Signing in with other services</h5>
        @{
    var loginProviders = Model.FilteredProviders;

    if (loginProviders.Count() == 0)
    {
        <div>
            <p>All available authentication services are already configured for this account.</p>
        </div>
    }
    else
    {
        string action = Model.Action;
        string returnUrl = Model.ReturnUrl;
        using (Html.BeginForm(action, "Account", new { ReturnUrl = returnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"></button>
                    }
                </p>
            </div>
        }
    }
        }
    </div>
}
