﻿@using Microsoft.AspNet.Identity
@model Web.ViewModels.Account.ManageUserViewModel

@*<h5>Change Password</h5>*@
<div class="form-group">
    @Html.LabelFor(m => m.OldPassword, new { @class = "control-label hidden" })
    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = @Html.DisplayNameFor(o => o.OldPassword) })
</div>
<div class="row">
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label hidden" })
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = @Html.DisplayNameFor(o => o.NewPassword) })
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label hidden" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = @Html.DisplayNameFor(o => o.ConfirmPassword) })
    </div>
</div>
