﻿@model ICollection<Microsoft.AspNet.Identity.UserLoginInfo>

@if (Model.Count > 0)
{
    <div class="col-sm-12 col-md-6 col-lg-5">
        <h5>Registered Logins</h5>

        <div id="socialLoginList">
            <table>
                @foreach (var account in Model)
                {
                    <tr>
                        @if (ViewBag.ShowRemoveButton)
                        {
                            using (Html.BeginForm("Disassociate", "Account"))
                            {
                                @Html.AntiForgeryToken()
                                <td>
                                    <button type="button" class="btn btn-default" id="@account.LoginProvider" name="provider" value="@account.LoginProvider" title="@account.LoginProvider account"></button>
                                    @Html.Hidden("loginProvider", account.LoginProvider)
                                    @Html.Hidden("providerKey", account.ProviderKey)
                                    <input type="submit" class="btn btn-default" id="remove-login-btn" title="Delete" value="Remove" />
                                </td>
                            }
                        }
                        else
                        {
                            <td>
                                <button type="button" class="btn btn-default" id="@account.LoginProvider" name="provider" value="@account.LoginProvider" title="@account.LoginProvider account"></button>
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
}
