﻿@using Microsoft.AspNet.Identity
@model Web.ViewModels.Account.ManageUserViewModel

<h5>Create Local Login</h5>
<p class="text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>
<div class="row">
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-3 control-label hidden" })
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = @Html.DisplayNameFor(o => o.NewPassword) })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label hidden" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = @Html.DisplayNameFor(o => o.ConfirmPassword) })
    </div>
</div>
