﻿
@{
    ViewBag.Title = "Unable to confirm email address";
}

<header>
    <p>Sorry</p>
    <h1>@ViewBag.Title</h1>
</header>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        @Html.ValidationSummary()
        <p>We're sorry, but there was an issue confirming your email address. If you continue to have an issue please contact us.</p>
    </div>
</div>
