﻿
@{
    ViewBag.Title = "Confirmation";
}

<header>
    <p>Thanks for signing up</p>
    <h1>Confirmation Email Sent</h1>
</header>

<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <p>Please check your email to confirm your email address. Once your email has been confirmed you can start the application process.</p>
    </div>
</div>

