﻿@{
    ViewBag.Title = "Login Failure";
}

<h2>@ViewBag.Title.</h2>
<h3 class="text-error">Unsuccessful login with service.</h3>
<div class="row">
    <a class="btn btn-default col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-5" href="/">Home</a>
</div>