﻿@model Web.ViewModels.Account.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}

<header>
    <p>Sign in with @ViewBag.LoginProvider will be enabled</p>
    <h1>@ViewBag.Title</h1>
</header>

<div class="row">
    <div class="col-xs-offset-1 col-xs-10">
        @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl, LoginProvider = ViewBag.LoginProvider }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <p class="text-info">
                    You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
                    Please enter your name and email address below then click the Register button to finish
                    creating your LinkCapital account.
                </p>
                <p class="text-info">
                    If you are attempting to sign in to an existing Link
                    Capital account using a new third-party authentication provider, you will need to first
                    register that provider with your account via the profile page.
                </p>
                <div class="pull-right"><em>All fields required</em></div>
            </div>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.FirstName, new { @class = "control-label hidden" })
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.LastName, new { @class = "control-label hidden" })
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label hidden" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "email@domain.com" })
            </div>

            <div class="form-group row">
                <div class="col-sm-offset-8 col-md-4 col-md-offset-9 col-md-3">
                    <input type="submit" class="btn btn-default" value="Register" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
