﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<header>
    <p>Check your email</p>
    <h1>@ViewBag.Title</h1>
</header>

<div class="row">
    <p class="col-md-offset-1 col-md-10">If you had an account with Link Capital registered at that email address, <strong>please check your email</strong> for instructions on how to reset your password.</p>
</div>

