﻿@model Web.ViewModels.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<header>
    <p>@ViewBag.Title</p>
    <h1>Enter your email address</h1>
</header>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
{
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-9 col-sm-offset-1 col-md-8 col-md-offset-2 ">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label hidden" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = @Html.DisplayNameFor(o => o.Email) })
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-10 col-xs-offset-1 col-sm-offset-7 col-sm-3">
                <input type="submit" class="btn btn-default btn-block" value="Submit" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
