﻿@model Web.ViewModels.Account.LoginViewModel

@{
    ViewBag.Title = "Welcome, Let's Get Started.";
    ViewBag.PageClassName = "loginscreen";
}

<div class="row @ViewBag.PageClassName">
    <div class="col-md-12">
        <header>
            <h1><small>Welcome</small> Let's Get Started</h1>
            <!--[if lte IE 9]>
    <style>
        .hidden { display:block !important; visibility:visible !important }
    </style>
    <![endif]-->

        </header>
    </div>
    <div class="col-sm-5 col-sm-offset-0 col-md-5">
        @if (Model.ShowRegistration == true)
        {
            <h3>Register</h3>
            <p>@Html.ActionLink("Create an Account", "Register", "Account", new { ReturnUrl = string.IsNullOrEmpty(Model.ReturnUrl) ? Request.QueryString["ReturnUrl"] : Model.ReturnUrl, Context = string.IsNullOrEmpty(Model.Context) ? Request.QueryString["Context"] : Model.Context, IsReAuth = Model.IsReAuth }, new { @class = "btn btn-default btn-block" })</p>
            <br />
            <ul>
                <li>If you are a new customer, please register for an account.</li>
                <li>If you have already started a loan application, please sign back in with your existing account.</li>
                <li>If you were sent to this page when adding a co-signer, have the co-signer sign up for an account to continue the application.</li>
            </ul>
        }
    </div>
    @*<div class="col-md-1" style="width: 1px; color:black; height: 80%; float: left;">*@
    
    <div class="col-sm-6 col-sm-offset-1 col-md-6 left-line">
        @*<div style="width: 1px; background-color:black; height: 100%; float: left;">*@
        <h3>Sign In</h3>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label hidden" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = @Html.DisplayNameFor(o => o.Email) })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label hidden" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="row form-group">
                    <p class="col-xs-12">@Html.ActionLink("Forgot password?", "ForgotPassword", "Account")</p>
                    <div class="col-sm-12 col-md-6">
                        <small>
                            By clicking Sign In, you agree to the
                            <a href="#terms" class="tab-toggle" style="text-decoration: underline">Terms Of Use</a> and
                            <a href="#privacy" class="tab-toggle" style="text-decoration: underline">Privacy Policy</a>.
                        </small>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        @Html.HiddenFor(m => m.ReturnUrl)
                        @Html.HiddenFor(m => m.ShowRegistration)
                        @Html.HiddenFor(m => m.UserType)
                        @Html.HiddenFor(m => m.Context)
                        @Html.HiddenFor(m => m.IsReAuth)
                        <input type="submit" value="Sign In" class="btn btn-default btn-block" />
                    </div>
                </div>
            }
        </section>
        @* </div> *@
    </div>



    @if (Web.Utilities.Configuration.OAuthEnabled || Request.Cookies["dev"] != null)
    {
        <div class="col-sm-6 col-sm-offset-6 col-md-5 col-md-offset-7">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new Web.ViewModels.Account.ExternalLoginListViewModel { Action = "ExternalLogin", ReturnUrl = Model.ReturnUrl })
            </section>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
