﻿@using Web.ViewModels.Account;
@using Microsoft.AspNet.Identity;
@model Web.ViewModels.Account.ManageUserViewModel
@{
    ViewBag.Title = "Edit your profile";
}

<header>
    <p>Need a change?</p>
    <h1>@ViewBag.Title</h1>
    <!--[if lte IE 9]>
    <style>
        .hidden { display:block !important; visibility:visible !important }
    </style>
    <![endif]-->

</header>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { role = "form" }))
{
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <p class="text-success">@ViewBag.StatusMessage</p>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-sm-12 col-md-10 col-md-offset-2 col-md-pull-1">
                @*<h5>Update Name and Email Address</h5>*@
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName, new { @class = "control-label hidden" })
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = @Html.DisplayNameFor(o => o.FirstName) })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName, new { @class = "control-label hidden" })
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = @Html.DisplayNameFor(o => o.LastName) })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label hidden" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = @Html.DisplayNameFor(o => o.Email) })
                    </div>
                </div>
                @*<h5>Update Partner Qualifying Email Address</h5> removed per client
            <div class="row">
                <div class="form-group col-md-11">
                    @Html.LabelFor(m => m.QualifyingEmail, new { @class = "control-label hidden" })
                    @Html.TextBoxFor(m => m.QualifyingEmail, new { @class = "form-control", placeholder = @Html.DisplayNameFor(o => o.QualifyingEmail) })
                </div>
                <div class="form-group col-md-1">
                    <a><i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Thing and stuf and thing about stuff and what not"></i></a>
                </div>
             </div>*@
            </div>
            <div class="col-sm-12 col-md-12"><hr style="border-color: grey"/></div>
            <div class="col-sm-12 col-md-10 col-md-offset-2 col-md-pull-1">
                @if (ViewBag.HasLocalPassword)
                {
                    @Html.Partial("_ChangePasswordPartial")
                }
                else
                {
                    @Html.Partial("_SetPasswordPartial")
                }
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
            <div class="form-group">
                <div class="col-sm-5 col-md-offset-3 col-md-3">
                    @Html.HiddenFor(m => m.CancelUrl)
                    <a href="@Model.CancelUrl" class="btn btn-primary btn-block">Cancel</a>
                </div>
                <div class="col-sm-5 col-sm-offset-2 col-md-3 col-md-offset-0">
                    <input type="submit" value="Save" class="btn btn-default btn-block" />
                </div>
            </div>
        </div>
    </div>
}
    

@if (Web.Utilities.Configuration.OAuthEnabled || Request.Cookies["dev"] != null)
{
    <section id="externalLogins" class="row">
        <br />
        @Html.Action("RemoveAccountList")
        @Html.Action("UsersUnusedLoginProvidersList")
        @*@Html.Partial("_ExternalLoginsListPartial", new Web.ViewModels.Account.ExternalLoginListViewModel { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })*@
    </section>
}
    
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
