﻿@model Web.ViewModels.Account.RegisterViewModel
@{
    ViewBag.Title = "Create an Account";
}

<header>
    <p>New to Link Capital?</p>
    <h1>@ViewBag.Title</h1>
    <!--[if lte IE 9]>
    <style>
        .hidden { display:block !important; visibility:visible !important }
    </style>
    <![endif]-->
</header>


<div class="row">
    <div class="col-xs-offset-1 col-xs-10">
        <div class="pull-right"><em>Required fields</em></div>
    </div>
    <div class="col-xs-offset-1 col-xs-10">
        @using (Html.BeginForm("Register", "Account", new { ReturnUrl = Request.QueryString["ReturnUrl"], Context = Request.QueryString["Context"], IsReAuth = Request.QueryString["IsReAuth"] }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.FirstName, new { @class = "control-label hidden" })
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.LastName, new { @class = "control-label hidden" })
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Email, new {@class = "control-label hidden"})
                    @Html.TextBoxFor(m => m.Email, new {@class = "form-control", placeholder = "email@domain.com"})
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.IsCosigner, new { @class = "control-label hidden" })
                    @Html.DropDownListFor(m => m.IsCosigner, new SelectList(
                        new[]
                        {
                            new { Value = "false", Text = "Borrower" },
                            new { Value = "true", Text = "Cosigner" },
                        },
                        "Value",
                        "Text"
                    ), 
                    "Are you a borrower or a cosigner?",
                    new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label hidden" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label hidden" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = @Html.DisplayNameFor(o => o.ConfirmPassword) })
                </div>
            </div>
            @*<div class="pull-right"><em>Optional fields</em></div>
            <div class="row">
                <div class="form-group col-md-11">  Removed per client
                    @Html.LabelFor(m => m.QualifyingEmail, new { @class = "control-label hidden" })
                    @Html.TextBoxFor(m => m.QualifyingEmail, new { @class = "form-control", placeholder = "qualifying_email@domain.com" })
                </div>
                <div class="col-md-1">
                    <a><i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Thing and stuf and thing about stuff and what not"></i></a>
                </div>
            </div>*@
            <div class="form-group row">
                <div class="col-sm-6 col-md-8">
                    <small>
                        By clicking Sign In, you agree to the
                        <a href="#terms" class="tab-toggle" style="text-decoration: underline">Terms Of Use</a> and
                        <a href="#privacy" class="tab-toggle" style="text-decoration: underline">Privacy Policy</a>.
                    </small>
                </div>
                <div class="col-sm-6 col-md-4">
                    <input type="submit" class="btn btn-default btn-block" value="Next"/>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*$(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })*@
}
