﻿@model Web.ViewModels.Account.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset your password";
}

<header>
    <p>Welcome back</p>
    <h2>@ViewBag.Title</h2>
</header>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
{
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Code)
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label hidden" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = @Html.DisplayNameFor(o => o.Email) })
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label hidden" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label hidden" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = @Html.DisplayNameFor(o => o.ConfirmPassword) })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-9 col-md-3">
                    <input type="submit" class="btn btn-default btn-block" value="Reset" />
                </div>
            </div>
        </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
