﻿@{
    ViewBag.Title = "Password reset successfully";
}

<header>
    <p>Congratulations!</p>
    <h2>@ViewBag.Title</h2>
</header>
<div class="row">
    <p class="col-md-offset-1 col-md-10">
        Your password has been reset. Please @Html.ActionLink("click here to log in to your account", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).
    </p>
</div>
