﻿@import "bootstrap/bootstrap";
@import "variables";


/* 
    From Buttons.less 
*/
.btn {
    font-family: @headings-font-family;
    text-transform: uppercase;
}

.btn-default {
    .button-variant-adv(@btn-default-color; @btn-default-bg; @btn-default-border; @primary-white; #27746c; #27746c);
}

.btn-primary {
    .button-variant-adv(@btn-primary-color; @btn-primary-bg; @btn-primary-border; @primary-white; #27746c; #27746c);
}

.btn-loancenter {
    .button-variant-adv(black; #ffffff; @btn-default-border; @primary-black; @primary-white; @primary-white);
}

@media(min-width: 776px) {
    .left-line {
        border-left-style: solid;
        border-width: thin;
    }
}

/* 
    From Forms.less 
*/
label {
    font-weight: normal;
}


/* 
    From Mixins.less 
*/
.button-variant-adv(@color; @background; @border; @hover-color; @hover-background; @hover-border) {
    color: @color;
    background-color: @background;
    border-color: @border;

    &:hover,
    &:focus,
    &:active,
    &.active,
    .open .dropdown-toggle& {
        color: @hover-color;
        background-color: darken(@hover-background, 8%);
        border-color: darken(@hover-border, 12%);
    }

    &:active,
    &.active,
    .open .dropdown-toggle& {
        background-image: none;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: @background;
            border-color: @border;
        }
    }
}


/* 
    From Navbar.less 
*/
.navbar {
    color: @text-color;
    // Prevent floats from breaking the navbar
    .clearfix();
}

.navbar-header {
    .clearfix();
}

.navbar-collapse {
    .clearfix();
}

body > .container {
    padding-top: 4em;
    padding-bottom: 5em;
}

.navbar-brand {
    padding: 8px @navbar-padding-horizontal;
}

.navbar-nav {
    > li > a {
        font-family: @headings-font-family;
        color: #27746c;
    }
}

.navbar-default {
    border-color: @secondary-white;

    .navbar-nav {
        > li > a {
            color: @primary-black;
            font-weight: bold;
            text-transform: uppercase;

            &:hover,
            &:focus {
                color: @primary-white;
                background-color: @primary-black;
            }
        }

        > .active > a {
            color: @primary-white;
            background-color: @primary-black;

            &,
            &:hover,
            &:focus {
                color: @primary-white;
                background-color: @primary-black;
            }
        }
    }
}


/* 
    From Type.less 
*/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    text-transform: uppercase;
}

h1, .h1 {
    font-size: @font-size-h1;
    font-weight: 100;
}

h2, .h2 {
    font-size: @font-size-h2; /*font-weight: bold;*/
}

h3, .h3 {
    font-size: @font-size-h3;
    color: #27746c;
}

header {
    text-transform: uppercase;

    > p {
        font-family: 'DroidSerif';
        font-style: italic;
        text-transform: none;
        color: #27746c;
        font-size: @font-size-h4;
        margin-bottom: 0;
    }

    > h1 {
        margin-top: 0;

        > small {
            font-family: 'DroidSerif';
            font-style: italic;
            color: @primary-black;
            text-transform: none;
            display: block;
        }
    }
}

.Application_Header
{
    color: #27746c;
}

@media (min-width: @grid-float-breakpoint) {
    .dl-horizontal {
        dd {
            margin-left: @component-offset-horizontal;
            .clearfix(); // Clear the floated `dt` if an empty `dd` is present
        }
    }
}



/*
    From Our Style
*/
@font-face {
    font-family: 'Avenir LT Std 95 Black';
    src: url('fonts/AvenirLTStd-95Black.eot?#iefix') format('embedded-opentype'), url('fonts/AvenirLTStd-95Black.woff') format('woff'), url('fonts/AvenirLTStd-95Black.ttf') format('truetype'), url('fonts/AvenirLTStd-95Black.svg#AvenirLTStd-95Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std 55 Roman';
    src: url('fonts/AvenirLTStd-55Roman.eot?#iefix') format('embedded-opentype'), url('fonts/AvenirLTStd-55Roman.woff') format('woff'), url('fonts/AvenirLTStd-55Roman.ttf') format('truetype'), url('fonts/AvenirLTStd-55Roman.svg#AvenirLTStd-55Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('fonts/Lato-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-Regular-webfont.woff') format('woff'), url('fonts/Lato-Regular-webfont.ttf') format('truetype'), url('fonts/Lato-Regular-webfont.svg#Lato-Regular-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSerif';
    src: url('fonts/DroidSerif-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/DroidSerif-webfont.woff') format('woff'), url('fonts/DroidSerif-webfont.ttf') format('truetype'), url('fonts/DroidSerif-webfont.svg#DroidSerif-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.field-validation-error {
    color: @brand-danger;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid @brand-danger;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: @brand-danger;
}

.validation-summary-valid {
    display: none;
}

html {
    background: @primary-white;
}

body {
    padding-top: 60px;
}

.navbar-default {
    box-shadow: inset 0 -1px 0 0 rgba(34, 32, 32, 0.2);

    .navbar-toggle {
        background-color: @primary-white;
    }
}

.navbar-fixed-top {
    border: 0px;
}

footer {
    border-top: 1px solid @secondary-white;
    background-color: @secondary-white;
    color: @primary-black;

    .nav {
        font-size: medium;
        background-color: @primary-black;
        color: @primary-white;
        padding-top: 5px;
        margin-bottom: 5px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .nav-pills {
        a {
            :active {
                color: #27746c;
            }
        }

        :not(:first-child) {
            text-transform: uppercase;
            color: @primary-white;
        }
    }
}

.disclaimer {
    background: @primary-white;
    color: @small-color;
    font-size: 0.8em;
    padding: 2em 0;
}

footer .nav-pills a,
footer .nav-pills & > li & > a:hover,
footer .nav-pills & > li & > a:focus {
    color: @primary-white;
    background-color: @primary-black;
}

footer .nav-pills & > li.active & > a,
footer .nav-pills & > li.active & > a:hover,
footer .nav-pills & > li.active & > a:focus {
    color: #27746c;
    background-color: @primary-black;
}

#footer-tab-content {
    text-align: left;
    font-size: small;

    .tab-pane {
        color: @primary-black;

        .row {
            padding-top: 2em;
        }
    }

    p {
        margin-top: 1em;
    }

    .row {
        background: @secondary-white;
    }

    #contact {
        text-align: center;
        background: @secondary-white;
    }
}

#footer-tab-content h1,
#footer-tab-content h2,
#footer-tab-content h3,
#footer-tab-content h4,
#footer-tab-content h5,
#footer-tab-content h6 {
    margin-top: 1.2em;
    margin-bottom: 0em;
    text-transform: none;
    font-size: 1.1em;
    color: @primary-black;
    font-weight: bold;
}

#contact {
    .row {
        background: @primary-white;
    }
}

.contact-logo {
    margin-top: 1.2em;
}

.contact-phone {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0;
}

.contact-email {
    margin-top: 0 !important;
    font-size: 1.3em;
    color: @small-color;
}

.loancenter {
    background: #27746c;
    color: @primary-white;
}

header {
    padding-bottom: 2em;
}

.loancenter-hdr {
    h1 {
        margin-bottom: 1em;
    }
}

.loancenter-btns {
    margin-top: 2.5em;
}

.loginscreen {
    background: #aadacd;
    color: @primary-white;

    .loginscreen {
        background: none;
    }

    header {
        h1 {
            color: @primary-white !important;

            small {
                color: @primary-white;
                display: block;
            }
        }
    }
}

#loginForm {
    a {
        color: @primary-white;
    }

    a:hover {
        color: #27746c;
    }
}

form {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;

    hr {
        margin-top: 13px;
        margin-bottom: 29px;
    }
}

.btn,
span,
a {
    font-family: 'Lato-Regular';
}

.navbar-nav {
    & > li {
        & > a {
            font-family: 'Lato-Regular';
            font-size: medium;
            color: #27746c;
        }
    }
}

.navbar-form {
    a {
        font-family: 'Lato-Regular';
        color: #27746c;
    }
}

.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}

#externalLogins {
    & table td {
        border-top: none;
    }

    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#socialLoginList p {
    margin-bottom: 0;
}



#socialLoginList button {
    background-size: @socialLoginSize @socialLoginSize;
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
    border: none;
    height: @socialLoginSize;
    width: @socialLoginSize;
    -webkit-filter: brightness(100%);

    &#Facebook {
        background-image: @facebookLogo;

        &:hover {
            -webkit-filter: brightness(70%);
        }
    }

    &#Google {
        background-image: @googleLogo;

        &:hover {
            -webkit-filter: brightness(70%);
        }
    }

    &#Twitter {
        background-image: @twitterLogo;

        &:hover {
            -webkit-filter: brightness(70%);
        }
    }
}

#remove-login-btn {
    visibility: hidden;
}

td:hover > #remove-login-btn {
    visibility: visible;
}

select.form-control {
    color: #808080;
}

select.form-control option {
    color: black;
}

select.form-control option:first-child {
    color: #808080;
}

#accordion {
    .table {
        margin-bottom: 0;

        td {
            padding-top: 0;
            padding-bottom: 0;
            border-top: none;
        }
    }
}

.panel-body {
    color: @primary-black;
}

.loan-totals-table {
    tbody {
        tr {
            border-top: none;

            td {
                border-top: none;
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
}

.panel-heading {
    text-transform: uppercase;

    #collapseChevron:before {
        font-family: 'Glyphicons Halflings';
        content: "\e114";
        float: right;
        color: grey;
    }

    &.collapsed #collapseChevron:before {
        content: "\e080";
    }

    & div, a {
        padding-left: 8px;
        padding-right: 8px;
    }
}

.panel-body {

    table tr td:nth-of-type(2) {
        text-transform: uppercase;
    }
}

.dollarsign-left:before {
    content: "$";
}

.percent-sign-right:after {
    content: "%";
}

div.lc-radio-item {

    input[type="radio"] {
        display: none;
    }

    input[type="radio"] + span {
        border: 1px solid;
        border-radius: 1000px;
        border-radius: 1000px;
        padding: 19px;
        margin-right: 17px;
        height: 30px;
        vertical-align: middle;
        box-sizing: border-box;
        display: inline-block;
        background-color: @primary-white;
        border-color: #808080;
    }

    input[type="radio"]:checked + span {
        background-color:#27746c;
        border-color: #27746c;
    }
}

.inline-help img {
    height: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.link-loancenter{
    color: black;
}

.link-loancenter:hover{
    color: #23c8a7;
    text-decoration: none;
}

.btn-right{
    float: right;
}

.status-right{
    float:right;
    padding-right: 10px;
    padding-top: 10px;
    color: #27746c;
}

.table-admin{
    margin-bottom: 0px;
}

.header-padding-admin{
    padding-top: 50px;
}
