﻿@{
    ViewBag.Title = "Index";
    ViewBag.PageClassName = "loancenter";
}

<!--<div class="row @ViewBag.PageClassName">
    <section>
        <div class="col-md-5 col-md-offset-1">
            <div class="row col-12 loancenter-hdr">
                <h1 class="text-center">Apply for a Loan</h1>
                <p id="Instructions" class="text-center">Ready to start saving? Click the start button below to begin your new application or click continue to complete your existing application.</p>
            </div>
            <div class="row visible-xs col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 loancenter-btns">
                <ul id="CampusDoorLinks" class="list-unstyled">
                    @*<li style="margin-bottom: 1em">@Html.ActionLink("Start Here", "LoanInformation", "LoanCenter", new { @class = "btn btn-loancenter btn-block" })</li><span class="glyphicon glyphicon-search" aria-hidden="true"></span>*@
                    <li style="margin-bottom: 1em"><a class="btn btn-loancenter btn-block" href="@Url.Action("LoanInformation", "LoanCenter")">Start Here <span class="glyphicon glyphicon-chevron-right" aria-hidden="false"></span></a></li>

                    <li style="margin-bottom: 1em">@Html.ActionLink("Continue Application", "ContinueApplication", "LoanCenter", new { @class = "btn btn-loancenter btn-block" })</li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <div class="col-md-5 col-md-offset-1">
            <div class="row col-12 loancenter-hdr">
                <h1 class="text-center">Loan Management</h1>
                <p id="InstructionsManage" class="text-center">To manage your loans, make a payment or see your account details, click the link below.</p>
                
                <div class="row visible-xs col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-1 col-lg-8 col-lg-offset-2 loancenter-btns">
                    <ul id="ApireLinks" class="list-unstyled">
                        @*<li style="margin-bottom: 1em"><a class="btn btn-loancenter btn-block" href="https://myaccount.studentloan.org">Manage My Loans <span class="glyphicon glyphicon-chevron-right" aria-hidden="false"></span></a></li>*@
                        <li style="margin-bottom: 1em"><a class="btn btn-loancenter btn-block" href="@Url.Action("ManageLoan", "LoanCenter")">Manage My Loans <span class="glyphicon glyphicon-chevron-right" aria-hidden="false"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
</section>
</div>

<div class="row">
    <section>
        <div class="col-md-5 col-md-offset-1">
            <div class="row hidden-xs col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 loancenter-btns">
                <ul id="CampusDoorLinks" class="list-unstyled">
                    @*<li style="margin-bottom: 1em">@Html.ActionLink("Start Here", "LoanInformation", "LoanCenter", new { @class = "btn btn-loancenter btn-block" })</li><span class="glyphicon glyphicon-search" aria-hidden="true"></span>*@
                    <li style="margin-bottom: 1em"><a class="btn btn-loancenter btn-block" href="@Url.Action("LoanInformation", "LoanCenter")">Start Here <span class="glyphicon glyphicon-chevron-right" aria-hidden="false"></span></a></li>

                    <li style="margin-bottom: 1em">@Html.ActionLink("Continue Application", "ContinueApplication", "LoanCenter", new { @class = "btn btn-loancenter btn-block" })</li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <div class="col-md-5 col-md-offset-1">
            <div class="row col-12 loancenter-hdr">
                <div class="row hidden-xs col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-1 col-lg-8 col-lg-offset-2 loancenter-btns">
                    <ul id="ApireLinks" class="list-unstyled">
                        @*<li style="margin-bottom: 1em"><a class="btn btn-loancenter btn-block" href="https://myaccount.studentloan.org">Manage My Loans <span class="glyphicon glyphicon-chevron-right" aria-hidden="false"></span></a></li>*@
                        <li style="margin-bottom: 1em"><a class="btn btn-loancenter btn-block" href="@Url.Action("ManageLoan", "LoanCenter")">Manage My Loans <span class="glyphicon glyphicon-chevron-right" aria-hidden="false"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div> -->

@*@section Scripts {
    <script>
        var clickCount = 0;
        function clickLink(link) {
            if (++clickCount >= 13) {
                $(link).hide();
                $("#Instructions").show();
                $("#CampusDoorLinks").show();
                $('#ApireLinks').show();
                $("#InstructionsManage").show();
            }
        }
    </script>*@
@*}*@

<div class="row text-center">
    <div class="col-sm-5 col-sm-offset-1">
        <h1>Apply for a Loan</h1>
        <p>Ready to start saving? Click the start button below to begin your new application or click continue to complete your existing application.</p>
        <div class="row visible-xs" style="padding-top:50px;">
            <a class=" btn btn-loancenter col-xs-12 small" style="margin-bottom:15px;" href="@Url.Action("LoanInformation", "LoanCenter")">
                Start Here <span class="glyphicon glyphicon-chevron-right" aria-hidden="false"></span>
            </a>
            <a class="btn btn-loancenter col-xs-12 small" href="@Url.Action("ContinueApplication", "LoanCenter")">Continue Application</a>
            <div style="padding-top:10px">
                What do you need to apply? 
                <a class="link-loancenter col-xs-12 small" href="@Url.Action("CheckList", "LoanCenter")"> Click here!</a>
            </div>
        </div>
    </div>
    <div class="col-sm-5 col-sm-offset-1">
        <h1>Loan Management</h1>
        <p>To manage your loans, make a payment or see your account details, click the link below.</p>
        <div class="row visible-xs" style="padding-top:50px;">
            <a class=" btn btn-loancenter col-xs-12 small" href="@Url.Action("ManageLoan", "LoanCenter")">
                Manage My Loans <span class="glyphicon glyphicon-chevron-right" aria-hidden="false"></span>
            </a>
        </div>
    </div>
</div>
<div class="row hidden-xs" style="padding-top:50px;">
    <div class=" col-sm-5 col-sm-offset-1 text-center">
    <div class="row">
        <a class="btn btn-loancenter col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-1 col-lg-8 col-lg-offset-2" style="margin-bottom:15px;" href="@Url.Action("LoanInformation", "LoanCenter")">Start Here <span class="glyphicon glyphicon-chevron-right" aria-hidden="false"></span></a>
        <a class="btn btn-loancenter col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-1 col-lg-8 col-lg-offset-2" href="@Url.Action("ContinueApplication", "LoanCenter")">Continue Application</a>
        <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-1 col-lg-8 col-lg-offset-2" style="padding-top:10px">
            What do you need to apply?
            <a class="link-loancenter col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-1 col-lg-8 col-lg-offset-2" href="@Url.Action("CheckList", "LoanCenter")">Click here!</a>
        </div>
    </div>
</div>
    <div class="col-sm-5 col-sm-offset-1 text-center">
        <div class="row">
            <a class="btn btn-loancenter col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-1 col-lg-8 col-lg-offset-2" href="@Url.Action("ManageLoan", "LoanCenter")">Manage My Loans <span class="glyphicon glyphicon-chevron-right" aria-hidden="false"></span></a>
        </div>
    </div>
</div>