﻿@model Web.ViewModels.LoanCenter.ManageLoanViewModel
@{
    ViewBag.Title = "Loan Management";
}

<header></header>

<div class="row">
    <div class="col-md-12">
        <span>Redirecting to Loan Management Service...</span>
        <form id="loanManageForm" action="@Model.Url" method="@Model.HttpMethod">
            @Html.Hidden("payload", @Model.Payload)
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $('#loanManageForm').submit();
    });
    </script>
}
