﻿@model Web.ViewModels.LoanCenter.LoanApplicationViewModel
@{
    ViewBag.Title = "Loan Application";
}

<header>
</header>

<div class="row">
    <div class="col-md-12">
        <span>Redirecting to Loan Application Service...</span>
        <form id="loanAppForm" action="@Model.Url" method="@Model.HttpMethod">
            @Html.Hidden("payload", @Model.Payload)
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $('#loanAppForm').submit();
    });
    </script>
}
































