﻿@model Web.ViewModels.LoanCenter.LoanInformationViewModel
@{
    ViewBag.Title = "Your Loan Application";
}

<header>
    <h1 class="Application_Header">Your Loan Application</h1>
    <!--[if lte IE 9]>
    <style>
        .hidden { display:block !important; visibility:visible !important }
    </style>
    <![endif]-->

</header>

<!-- Modal -->
<div class="modal fade" id="residencyModal" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="residencyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="residencyModalLabel">Confirm - Medical Residency/Fellowship</h4>
            </div>
            <div class="modal-body">
                You have indicated that you are a medical resident or fellow. During the application process, you will be required to provide proof of your residency/fellowship.
                When asked to enter our income, please use the income you expect to make after you training period is complete, not your current income.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="residencyModalContinueButton" type="button" class="btn btn-primary">Continue</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="consolidationModal" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="consolidationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="consolidationModalLabel">Confirm - Immediate Loan Consolidation</h4>
            </div>
            <div class="modal-body">
                You have selected an immediate repayment consolidation loan intended for medical professionals who are not currently in a training program. If you are a resident
                or fellow and looking for the ability to defer your loan during training, please select yes to the question “Are you a medical resident or fellow?” to be directed
                to the correct option. 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="consolidationModalContinueButton" type="button" class="btn btn-primary">Continue</button>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("LoanInformation", "LoanCenter", FormMethod.Post, new { role = "form", id="loanForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.StateOfResidence, new { @class = "control-label hidden" })
                    @Html.DropDownListFor(m => m.StateOfResidence, new SelectList(ViewBag.StateNames), "Permanent Residence", new { @class = "form-control input-lg", onchange = "selectState(this)" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.LoanAmount, new { @class = "control-label hidden" })
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        @Html.TextBoxFor(m => m.LoanAmount, new { @class = "form-control input-lg", placeholder = @Html.DisplayNameFor(o => o.LoanAmount) })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <span>Are You a Medical Resident or Fellow?</span>
                    @Html.ValidationMessageFor(x => x.IsMedicalResident, "*")
                    <a id="residencyPopover" class="inline-help" href="#" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Medical Residency" data-content="Only answer yes if you are currently in a medical residency program.">
                        @*<img src="~/Content/Images/help_icon.png" alt="Help" />*@
                        <div class="glyphicon glyphicon-question-sign"></div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="lc-radio-item col-md-2">
                    <label for="residency_yes">
                        @Html.RadioButtonFor(x => x.IsMedicalResident, "true", new { id = "residency_yes" })
                        <span></span>
                        <span>YES</span>
                    </label>
                </div>
                <div class="lc-radio-item col-md-2">
                    <label for="residency_no">
                        @Html.RadioButtonFor(x => x.IsMedicalResident, "false", new { id = "residency_no" })
                        <span></span>
                        <span>NO</span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-offset-9 col-md-3">
                    <input id="submitButton" type="submit" value="Next" class="btn btn-default btn-block" />
                </div>
            </div>
        }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function selectState(select)
        {
            select.style.color = "black";
            $(select).children("option:first-child").attr("disabled", "disabled");
        }

        $(document).ready(function() {
            $('#residencyPopover').popover();

            $('#submitButton').click(function() {
                if ($('input[name=IsMedicalResident]:checked').val() === "true") {
                    $('#residencyModal').appendTo("body").modal('show');
                    return false;
                }

                if ($('input[name=IsMedicalResident]:checked').val() === "false") {
                    $('#consolidationModal').appendTo("body").modal('show');
                    return false;
                }

                $('#residencyModal').modal('hide');
                $('#consolidationModal').modal('hide');
                return true;
            });

            $('#residencyModalContinueButton').click(function () {
                $('#residencyModal').modal('hide');
                $('#loanForm').submit();
            });

            $('#consolidationModalContinueButton').click(function () {
                $('#consolidationModal').modal('hide');
                $('#loanForm').submit();
            });
        });
    </script>
}