﻿
@{
    ViewBag.Title = "Please Check Back";
}

<header>
    <!-- <h1 class="Application_Header">No Programs Available</h1> -->
</header>

<div>
    <p>Link Capital is currently only offering loans to residents in certain states.  We plan to widen our offering within the next couple of weeks.  
        Please check back again soon or contact us directly at <a href="mailto:info@linkcapital.com">info@linkcapital.com</a>.</p>
</div>