﻿
@{
    ViewBag.Title = "Please Check Back";
}

<header>
    <!-- <h1 class="Application_Header">No Programs Available</h1> -->
</header>

<div>
    <p>The Consolidation Loan Program has a minimum loan amount of $15,000 and a maximum loan amount of $450,000. Note that there is no minimum or maximum 
    limit on the outstanding balance of any individual loan to be consolidated but all loans to be consolidated must total at least $15,000.
    </p>
</div>