﻿@using Web.Helpers;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico">
    

    @*<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'> this causes the site to be unsecured *@

    <title>@ViewBag.Title - Link Capital Portal</title>
    @Styles.Render("~/Content/less")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body role="document" class="@ViewBag.PageClassName">
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-5XN7L9"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5XN7L9');</script>
    <!-- End Google Tag Manager -->


    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                @if (Request.IsAuthenticated)
                {
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                }
                <a class="navbar-brand" href="http://www.linkcapital.com"><img src="~/Content/Images/Link_logo_SM.png" alt="Link Capital" /></a>
            </div>
            @if (Request.IsAuthenticated)
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @Html.MenuItem("Loan Center", "Index", "LoanCenter")
                        @Html.MenuItem("Profile", "Manage", "Account")
                        @if(User.IsInRole("Admin"))
                        {
                            @Html.MenuItem("Admin", "Index", "Admin")
                            @Html.MenuItem("Submissions", "LoanSubmissions", "Admin");
                        }
                    </ul>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @class = "navbar-form pull-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <span class="hidden-sm">Welcome, <span style="color:#27746c;">@Html.ActionLink(User.Identity.Name, "Manage", "Account")</span></span>
                        <button type="submit" style="margin-left:16px" class="btn btn-default btn-sm">Log Out</button>
                    }
                </div><!--/.nav-collapse -->
            }
        </div>
    </nav>

    <div class="container" role="main">
        @RenderBody()
    </div>

    <footer>
        <div class="disclaimer">
            <div class="container">
                <p class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1">Link Capital's offered terms are subject to change. None of the website's information represents a recommendation, solicitation or offer by Link Capital or its affiliates to buy or sell any securities or other financial instruments. - Azure</p>
            </div>
        </div>
        <div class="nav text-center">
            <div class="col-sm-12">
                <ul class="nav nav-pills col-md-11 col-md-offset-1 col-lg-10 col-lg-offset-2" data-tabs="tabs">
                    <li><a href="javascript:void(0)">&copy; 2015 Link Capital</a></li>
                    <li id="termsLinkLi"><a href="#terms" data-toggle="tab" id="termsLink">RATE DETAILS, TERMS & CONDITIONS</a></li>
                    <li><a href="#privacy" data-toggle="tab">PRIVACY POLICY</a></li>
                    <li><a href="#contact" data-toggle="tab">Contact Us</a></li>
                </ul>
            </div>
            <section id="footer-tab-content" class="tab-content col-sm-12">
                <div class="tab-pane" id="terms">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3" id="termsAndConditions"></div>
                    </div>
                </div>
                <div class="tab-pane" id="privacy">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3" id="privacyPolicy"></div>
                    </div>
                </div>
                <div class="tab-pane" id="contact">
                    <div class="row">
                        <img src="~/Content/Images/logo.png" alt="Link Capital" class="contact-logo" />
                        <p class="contact-phone">(312) 226-6700</p>
                        <p class="contact-email">info@linkcapital.com</p>
                    </div>
                </div>
            </section>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $.get('/api/privacypolicy', function(result) {
            $('#privacyPolicy').html(result);
        });
        $.get('/api/termsandconditions', function(result) {
            $('#termsAndConditions').html(result);
        });
        $('.tab-toggle').on('click', function (e) {
            var target = this.href.split('#');
            $('.nav a').filter('[href="#' + target[1] + '"]').tab('show');
        });
    </script>

</body>
</html>
