﻿@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Error";
}

@*<h1 class="text-danger">Error.</h1>*@
<h2 class="text-danger">An error occurred while processing your request.</h2>

<div class="col-12">
    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
    {
        <div>
            <p>
                <b>Exception:</b> @Model.Exception.Message<br />
                <b>Controller:</b> @Model.ControllerName<br />
                <b>Action:</b> @Model.ActionName
            </p>
            <div style="overflow:scroll">
                <pre>
                    @Model.Exception.StackTrace
                </pre>
            </div>
        </div>
    }
</div>

