﻿
@{
    ViewBag.Title = "Administration";
}

@section scripts {
    <script src="~/Scripts/angular.js"></script>

    <script src="https://cdn.jsdelivr.net/angular.ngtable/0.8.3/ng-table.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.1/dist/textAngular-rangy.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.1/dist/textAngular-sanitize.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.1/dist/textAngular.min.js" type="text/javascript"></script>

    <script src="~/Scripts/AdminClient.js"></script>
}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.1/dist/textAngular.css" rel="stylesheet" />

<h2>Administration / Configure</h2>

<div ng-app="AdminApp" class="row">
    <br/>
    <form>
        <div ng-controller="AdminController">
            
            <h3>Loan Program URLs</h3>
            <table class="table table-admin">
                <tr ng-repeat="r in programs">
                    <td>{{r.Name}}</td>
                    <td><input type="text" style="width:100%" ng-model="r.Url" /></td>
                </tr>
                <tr><td colspan="2"></td></tr>
            </table>
            <input type="submit" class="btn btn-default btn-right" ng-click="submitPrograms()" /> <span class="status-right" ng-if="saving.LoanProgram">...Saving</span><span class="status-right" ng-if="saved.LoanProgram">Saved</span>

            <h3 class="header-padding-admin">Loan Restrictions</h3>
                <table class="table table-admin">
                    <thead>
                        <tr  style="font-style: italic"><th>Loan Type - State</th><th>Loan Threshold</th><th>Program Active</th></tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="r in Restrictions | orderBy:['LoanProgram.Name', 'State.Name']">
                            <td>{{r.LoanProgram.Name}} - {{r.State.Name}}</td>
                            <td><input type="text" ng-model="r.LoanAmountThreshold" /></td>
                            <td>
                                <div class="checkbox">
                                    <label><input type="checkbox" ng-model="r.Active" />Active</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                        </tr>
                    </tbody>
            </table>
            <input type="submit" class="btn btn-default btn-right" ng-click="submitLoanRestrictions()" /> <span class="status-right" ng-if="saving.LoanRes">...Saving</span><span class="status-right" ng-if="saved.LoanRes">Saved</span>

            <h3 class="header-padding-admin">Rates</h3>
            <table class="table table-admin">
                <thead>
                    <tr>
                        <th>Consolidation - Fixed</th>
                        <th>FICO</th>
                        <th ng-repeat="term in Rates.ConsolidationTerms">{{ term }} Months</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tier 1</td>
                        <td>
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier1[0].FicoMin"/> -
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier1[0].FicoMax" />
                        </td>
                        <td ng-repeat="rate in Rates.Consolidation.Fixed.Tier1">
                            <input type="text" ng-model="rate.InterestRate" class="form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Tier 2</td>
                        <td>
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier2[0].FicoMin" /> -
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier2[0].FicoMax" />
                        </td>
                        <td ng-repeat="rate in Rates.Consolidation.Fixed.Tier2">
                            <input type="text" ng-model="rate.InterestRate" class="form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Tier 3</td>
                        <td>
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier3[0].FicoMin" /> -
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier3[0].FicoMax" />
                        </td>
                        <td ng-repeat="rate in Rates.Consolidation.Fixed.Tier3">
                            <input type="text" ng-model="rate.InterestRate" class="form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Tier 4</td>
                        <td>
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier4[0].FicoMin" /> -
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier4[0].FicoMax" />
                        </td>
                        <td ng-repeat="rate in Rates.Consolidation.Fixed.Tier4">
                            <input type="text" ng-model="rate.InterestRate" class="form-control"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Tier 5</td>
                        <td>
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier5[0].FicoMin" /> -
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier5[0].FicoMax" />
                        </td>
                        <td ng-repeat="rate in Rates.Consolidation.Fixed.Tier5">
                            <input type="text" ng-model="rate.InterestRate" class="form-control"/>
                        </td>
                    </tr>
                </tbody>
                <tr>
                    <td colspan="2"></td>
                </tr>
            </table>
            <table class="table table-admin">
                <thead>
                    <tr>
                        <th>Consolidation - Variable</th>
                        <th>FICO</th>
                        <th ng-repeat="term in Rates.ConsolidationTerms">{{ term }} Months</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tier 1</td>
                        <td>
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier1[0].FicoMin" /> -
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier1[0].FicoMax" />
                        </td>
                        <td ng-repeat="rate in Rates.Consolidation.Variable.Tier1">
                            <input type="text" ng-model="rate.InterestRate" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Tier 2</td>
                        <td>
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier2[0].FicoMin" /> -
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier2[0].FicoMax" />
                        </td>
                        <td ng-repeat="rate in Rates.Consolidation.Variable.Tier2">
                            <input type="text" ng-model="rate.InterestRate" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Tier 3</td>
                        <td>
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier3[0].FicoMin" /> -
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier3[0].FicoMax" />
                        </td>
                        <td ng-repeat="rate in Rates.Consolidation.Variable.Tier3">
                            <input type="text" ng-model="rate.InterestRate" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Tier 4</td>
                        <td>
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier4[0].FicoMin" /> -
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier4[0].FicoMax" />
                        </td>
                        <td ng-repeat="rate in Rates.Consolidation.Variable.Tier4">
                            <input type="text" ng-model="rate.InterestRate" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Tier 5</td>
                        <td>
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier5[0].FicoMin" /> -
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier5[0].FicoMax" />
                        </td>
                        <td ng-repeat="rate in Rates.Consolidation.Variable.Tier5">
                            <input type="text" ng-model="rate.InterestRate" class="form-control" />
                        </td>
                    </tr>
                </tbody>
                <tr>
                    <td colspan="2"></td>
                </tr>
            </table>
            <table class="table table-admin">
                <thead>
                    <tr>
                        <th>Residency</th>
                        <th>FICO</th>
                        <th ng-repeat="term in Rates.ResidentTerms">{{ term }} Months</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tier 1</td>
                        <td>
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier1[0].FicoMin" /> -
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier1[0].FicoMax" />
                        </td>
                        <td ng-repeat="rate in Rates.Resident.Fixed.Tier1">
                            <input type="text" ng-model="rate.InterestRate" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Tier 2</td>
                        <td>
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier2[0].FicoMin" /> -
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier2[0].FicoMax" />
                        </td>
                        <td ng-repeat="rate in Rates.Resident.Fixed.Tier2">
                            <input type="text" ng-model="rate.InterestRate" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Tier 3</td>
                        <td>
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier3[0].FicoMin" /> -
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier3[0].FicoMax" />
                        </td>
                        <td ng-repeat="rate in Rates.Resident.Fixed.Tier3">
                            <input type="text" ng-model="rate.InterestRate" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Tier 4</td>
                        <td>
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier4[0].FicoMin" /> -
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier4[0].FicoMax" />
                        </td>
                        <td ng-repeat="rate in Rates.Resident.Fixed.Tier4">
                            <input type="text" ng-model="rate.InterestRate" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>Tier 5</td>
                        <td>
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier5[0].FicoMin" /> -
                            <input type="text" class="form-control" ng-model="Rates.Consolidation.Fixed.Tier5[0].FicoMax" />
                        </td>
                        <td ng-repeat="rate in Rates.Resident.Fixed.Tier5">
                            <input type="text" ng-model="rate.InterestRate" class="form-control" />
                        </td>
                    </tr>
                </tbody>
                <tr>
                    <td colspan="2"></td>
                </tr>
            </table>
            <input type="submit" class="btn btn-default btn-right" ng-click="submitRates()" /> <span class="status-right" ng-if="saving.Rates">...Saving</span><span class="status-right" ng-if="saved.Rates">Saved</span>

            <h3 class="header-padding-admin">Other Settings</h3>
            <table class="table">
                <tr ng-repeat="r in DynamicValues">
                    <td>
                        <span ng-if="r.Name == 'EftReductionRate'">EFT Reduction Rate</span>
                        <span ng-if="r.Name == '3MonthLIBOR'">3-Month LIBOR</span>
                        <span ng-if="r.Name == 'TermsAndConditions'">Rate Details, Terms & Conditions</span>
                        <span ng-if="r.Name == 'PrivacyPolicy'">Privacy Policy</span>
                    </td>
                    <td>
                        <div ng-if="r.Name == 'EftReductionRate' || r.Name == '3MonthLIBOR'">
                            <input style="width: 40%; float: right;" type="text" ng-model="r.Value"/>
                        </div>
                        <div ng-if="r.Name == 'TermsAndConditions' || r.Name == 'PrivacyPolicy'">
                            <div text-angular ng-model="r.Value"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                </tr>
            </table>
            <input type="submit" class="btn btn-default btn-right" ng-click="submitDynamicValues()" /> <span class="status-right" ng-if="saving.Settings">...Saving</span> <span class="status-right" ng-if="saved.Settings">Saved</span>
        </div>
        
    </form>
</div>
