﻿
@{
    ViewBag.Title = "Administration";
}

@section scripts {
    <script src="~/Scripts/angular.js"></script>

    <script src="https://cdn.jsdelivr.net/angular.ngtable/0.8.3/ng-table.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.1/dist/textAngular-rangy.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.1/dist/textAngular-sanitize.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.1/dist/textAngular.min.js" type="text/javascript"></script>

    <script src="~/Scripts/AdminClient.js"></script>
}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/angular.ngtable/0.8.3/ng-table.min.css" rel="stylesheet" />

<h2>Administration / Loan Submissions</h2>

<div ng-app="AdminApp" class="row">
    <br/>
    <form>
        <div ng-controller="LoanSubmissionsController">

            <div class="row">
                <div class="col-sm-12">
                    <h3>Loan Submissions</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <select name="selectedUser" class="form-control pull-right" ng-model="selectedUser" ng-options="user as user.FullName for user in users | orderBy:'LastName'">
                        <option value="">Filter by user:</option>
                    </select>
                </div>
            </div>

            <div class="row" style="margin-top:12px">
                <div class="col-sm-12">
                    <table cellpadding="0"
                           cellspacing="0"
                           border="0"
                           class="table table-striped table-bordered table-hover ticket-listing margin-top"
                           ng-table="tableParams">
                        <thead>
                            <tr role="row">
                                <th class="sortable"
                                    ng-class="{
                                        'sort-asc': tableParams.isSortBy('User.FullName', 'asc'),
                                        'sort-desc': tableParams.isSortBy('User.FullName', 'desc')
                                      }"
                                    ng-click="setTableSort('User.FullName')">
                                    User <span class="sort-indicator"></span>
                                </th>
                                <th class="sortable"
                                    ng-class="{
                                        'sort-asc': tableParams.isSortBy('State', 'asc'),
                                        'sort-desc': tableParams.isSortBy('State', 'desc')
                                      }"
                                    ng-click="setTableSort('State')">
                                    State <span class="sort-indicator"></span>
                                </th>
                                <th class="sortable"
                                    ng-class="{
                                        'sort-asc': tableParams.isSortBy('Amount', 'asc'),
                                        'sort-desc': tableParams.isSortBy('Amount', 'desc')
                                      }"
                                    ng-click="setTableSort('Amount')">
                                    Amount <span class="sort-indicator"></span>
                                </th>
                                <th class="sortable"
                                    ng-class="{
                                        'sort-asc': tableParams.isSortBy('Resident', 'asc'),
                                        'sort-desc': tableParams.isSortBy('Resident', 'desc')
                                      }"
                                    ng-click="setTableSort('Resident')">
                                    Res/Fllw? <span class="sort-indicator"></span>
                                </th>
                                <th class="sortable"
                                    ng-class="{
                                        'sort-asc': tableParams.isSortBy('LoanProgram', 'asc'),
                                        'sort-desc': tableParams.isSortBy('LoanProgram', 'desc')
                                      }"
                                    ng-click="setTableSort('LoanProgram')">
                                    Loan Program <span class="sort-indicator"></span>
                                </th>
                                <th class="sortable"
                                    ng-class="{
                                        'sort-asc': tableParams.isSortBy('LoanUrl', 'asc'),
                                        'sort-desc': tableParams.isSortBy('LoanUrl', 'desc')
                                      }"
                                    ng-click="setTableSort('LoanUrl')">
                                    Loan URL <span class="sort-indicator"></span>
                                </th>
                                <th class="sortable"
                                    ng-class="{
                                        'sort-asc': tableParams.isSortBy('DateSubmitted', 'asc'),
                                        'sort-desc': tableParams.isSortBy('DateSubmitted', 'desc')
                                      }"
                                    ng-click="setTableSort('DateSubmitted')">
                                    Date Submitted <span class="sort-indicator"></span>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="submission in $data">
                                <td>{{ submission.User.FullName }}</td>
                                <td>{{ submission.State }}</td>
                                <td>{{ submission.Amount | currency }}</td>
                                <td>{{ submission.Resident ? "Yes" : "No" }}</td>
                                <td>{{ submission.LoanProgram }}</td>
                                <td>{{ submission.LoanUrl }}</td>
                                <td>{{ submission.DateSubmitted | date:'medium' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

</form>
</div>
